{% extends 'core/base.html' %}
{% block content %}
    <h1>Your Documents</h1>

    <p>
    <table>
        <thead>
        <tr>
            <th>Filename</th>
            <th>Uploaded At</th>
        </tr>
        </thead>
        <tbody>
        {% for document in object_list %}
            <tr>
                <td><a href="{% url 'core:downloads' document.basename %}">{{ document.basename }}</a></td>
                <td>{{ document.created_at }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">
                    No documents yet.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>

    <p>
        <a href="{% url 'core:upload' %}">Upload New Document</a>
    </p>

    <p>
        <a href="{% url 'core:home' %}">Back to Home</a>
    </p>

{% endblock content %}
